input[type=radio] {
  border: 0px;
  width: 15px;
}
label{
font: 1em sans-serif;
font-size: 11px;
font-family: 'Sarabun', sans-serif;
}
strong{
  font-family: 'Sarabun', sans-serif;

}
#warn{
  font-family: 'Sarabun', sans-serif;
  color : red;
  text-align: center;
  font-size: 15px;
}
body {
    font-family: sans-serif;
    color: #1d1d1d;
  }
  .section {
    border: 3px solid #a1aeb8;
    border-radius: 3px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; 
  }
  .heading {
    display: block;
    color: #a1aeb8;
    padding: 3px;
    font-weight: 100;
  }
  .structural  {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    margin: -1px;
  }
  
  .checkbox,
  .switch,
  .slide{
    display: none; 
  }
  
  .checkbox + .label,
  .slide + label{
    display: block;
    position: relative;
    cursor: pointer;
    color: #777;
    line-height: 30px;
    padding-top: 3px;
    user-select: none;
  }
  .checkbox + .label:hover {
    background: #e1f0fc;
  }
  .checkbox + .label:hover,
  .checkbox:checked + .label {
    color: #1d1d1d;
  }
  
  .checkbox + .label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px; 
    border: 2px solid #777; 
    vertical-align: middle;
    margin: -4px 10px 0;
    transition: all .5s ease;
  }
  .checkbox[type='radio'] + .label:before {
    border-radius: 100%;
  }
  
  .checkbox:checked + .label:before {
    background: #a1aeb8;
    border: 2px solid #1d1d1d;
  }
  
  .checkbox + .label:after {
    content:"";
    display: block;
    position: absolute;
    top: 5px;
    left: 13px;
    width: 0;
    height: 6px;
    border-color: #a1aeb8;
    border-style: solid;
    border-width: 0;
    transform: rotate(0);
    transition: all .2s ease-out;
  }
  
  .checkbox:checked + .label:after {
    width: 15px;
    border-color: #1d1d1d;
    border-width: 0 0 4px 4px;
    border-radius: 0 0 6px 0;
    transform: rotate(-50deg);
  }
  /*-------- SLIDE --------------*/
  .slide + .label {
    padding-left: 10px;
    margin-bottom: 2px;
    color: #1d1d1d;
  }
  
  .slide:checked + .label {
  
  }
  .slide + label:before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 0%;
    border: 2px solid white;
    border-radius: 3px;
    margin: 0;
    z-index: -1;
      background: linear-gradient(to right, 
      rgba(63,169,245,0) 0%, 
      rgba(63,169,245,0) 20%,       
      rgba(63,169,245,0.1) 40%, 
      rgba(11, 111, 8, 0.5) 100%);
    opacity: 0;
    transition: all .1s ease-in;
  }
  
  .slide:checked + .label:before {
      content:"";
      max-width: 100%;
      background: linear-gradient(to right, 
      rgba(63,169,245,0) 0%, 
      rgba(63,169,245,0) 20%,       
      rgba(63,169,245,0.1) 40%, 
      rgba(11, 111, 8, 0.5) 100%);
      border: 2px solid rgb(136, 185, 136);
      opacity: 1;
      transition: all .1s ease-out;
  }
  
  .slide + .label:after {
    width: 20px;
    height: 10px;
    transform: rotate(-50deg);
    transition: none;
  }
  
  .slide:checked + .label:after {
    content:"";
    display: block;
    position: absolute;
    top: 5px;
    width: 20px;
    height: 10px;
    right: -7px;
    border-color: #1d1d1d;
    border-width: 0 0 4px 4px;
    border-radius: 0 0 6px 0;
    border-style: solid;  
    transform: rotate(-50deg);
    transition: all .2s ease-out;
  }
  
  
  /*-------- SWITCH --------------*/
  .switch + label {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 20px 0 0 -5px; /*stupid*/
  }
  
  .switch + label:before {
    position: relative;
    bottom: 10px;
    content: "";
    display: block;  
    width: 100%;
    height: 5px;
    background: #fff;
    border: 2px solid #777;
    border-left: none;
    border-right: none;
  }
  .switch + label:after {
   position: relative;
    bottom: 40px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background: #fff;
    box-sizing: border-box;
    border-radius: 100%; 
    border: none; 
    margin: 0 40px 0;
    transition: all .2s ease-out;
  }
  .switch:checked + label:after {
    position: relative;
    bottom: 40px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 100%; 
    border: 2px solid #777; 
    margin: 0 10px 0; 
  }
  
  .switch:first-of-type + .label:before {
    border: 2px solid #777;
    border-radius: 5px 0 0 5px;
    border-right: none;
    
  }
  .switch:last-of-type + .label:before {
    border: 2px solid #777;
    border-radius: 0 5px 5px 0;
    border-left: none;
  }
  .mybutton {
    font-family: 'Sarabun', sans-serif;
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-left: 570px;
  }
  .mybutton:hover {
    background-color:#5cbf2a;
  }
  .mybutton:active {
    position:relative;
    top:1px;
  }
  
  .modal {
    font-family: 'Sarabun', sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    font-family: 'Sarabun', sans-serif;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  a{
    text-decoration: none;
}
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn{
    font-family: 'Sarabun', sans-serif;
  }